@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

nav {
    height: 100%;
    box-shadow: 0px 5px 25px 5px rgba(0,0,0,0.5);
}

ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    /* padding: 10px 20px; */
}

li {
    list-style: none;
    padding: 10px;
}

li:nth-child(1) {
    margin-left: 30px;
}

li a {
    font-size: 18px;
    font-weight: 600;
    transition: all 0.25s linear;
}

li a:hover {
    color:#9E9E9E;
}

header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #9e9e9e;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100vh - 80px);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}

.container__contact {
    width: 600px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 9px rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img__container {
    height: 100%;
    padding-top: 50px;
    display: flex;
    flex: 0.3;
    align-items: flex-start;
    justify-content: center;

}
.info__container{
    display: flex;
    flex-direction: column;
    flex: 0.6;
}
.info__containerName h3 {
    font-weight: 300;
    letter-spacing: 1.7px;
    margin:5px 0px 20px 0px;
}

.info__containerContacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.info__containerContacts div {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.info__containerContacts > div > p {
    margin-left: 20px;
    cursor: pointer;
}

.info__containerContacts > div > a {
    margin-left: 20px;
}
.contact__icon {
    width: 20px;
    height: 20px;
}
#img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover center;
}

@media (max-width: 1024px) {
    .container__contact {
        width: 70%;
        /* height: 350px; */
        margin: 50px 0px;
        box-shadow: 0px 0px 25px 9px rgb(0 0 0 / 70%);
    }
}

@media (max-width: 678px) {

    a{
        font-size: 12px;
    }

    li {
        padding: 6px;
        margin: 0px;
    }

    .container__contact {
        width: 80%;
        height: 250px;
        margin: 50px 0px;
        box-shadow: 0px 0px 25px 9px rgb(0 0 0 / 70%);
    }

    .info__containerName h2 {
        font-size: 20px;
    }

    .info__containerName h3 {
        font-size: 16px;
    }

    .info__containerContacts > div p {
        font-size: 14px;
    }

    .info__containerContacts > div a {
        font-size: 14px;
    }


     #img {
        width: 70px;
        height: 70px;
    }
}

@media (max-width:450px) {
    #img {
        display: none;
    }
}